<div class="h-[94%]">
  <div class="flex justify-between items-center bg-gray-200 shadow-md">
    <nav class="flex my-2 px-4 gap-x-4 list-none text-sm md:text-lg">
      <div><a class="text-gray-500 no-underline" routerLink="/ai/gemini-pro" routerLinkActive="active">Text</a></div>
      <div><a class="text-gray-500 no-underline" routerLink="/ai/gemini-pro-vision" routerLinkActive="active">Text & Image</a></div>
      <div><a class="text-gray-500 no-underline" routerLink="/ai/gemini-pro-chat" routerLinkActive="active">Chat</a></div>
    </nav>
  </div>

  <div class="w-full h-full flex flex-col-reverse md:flex-row bg-gray-50 font-medium overflow-hidden">
    <div class="flex-grow md:basis-3/5 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
    <div class="md:basis-2/5">
      <app-settings></app-settings>
    </div>
  </div>
</div>
