html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
